{% extends "base.html" %}
{% block conteudo %}
<body background="/static/fundo.png">

<header class="cabecario">
    
    <img class="imghome" id="imghome" src="/static/logo.png" alt="">

        <div class="linksHOME">
            <a class="linka" href="/">Home </a>
            <a class="linka" href="/contato"  >Contato </a>
            <a class="linka" href="/quemsomos">Quem Somos </a>
        </div>
</header>>

<main>
    <div class="capa">
        <img src="/static/capa.png">
    </div>

    <h1 class="titulo">Sobre a universidade</h1>

        <p class="textodotit">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil cupiditate provident deleniti ea, minima iusto quibusdam consequuntur explicabo. Vero facere neque impedit aut pariatur nisi architecto tempore quis accusamus quaerat! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptate eveniet ea consequuntur corporis id obcaecati ducimus illum delectus autem tempora? Necessitatibus iure sint exercitationem quis eligendi reiciendis tempore hic quo.</p>

        <p class="textodotit">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quidem optio id distinctio aliquam. Corporis fugiat nisi deserunt ratione? Dolorem repellat optio culpa, vero repudiandae aspernatur id omnis quia saepe facilis. Lorem ipsum dolor sit, amet consectetur adipisicing elit. Similique illum officia unde nisi, totam dicta iure quia? Explicabo eveniet facilis animi ex dolor architecto, quam, impedit officia modi neque aspernatur?</p>
</main>           
    <footer class="rodapé" h4><strong>todos os direitos reservados</strong></h4></footer>

</body>
</html>
{% endblock %}