{% extends "base.html" %}
{% block conteudo %}
<body background="/static/fundo2.png">

<header class="cabecario2">
   
    <img class="fotologo" src="/static/logo.png" alt="">
        
    <div class="linksQS">
             <a class="linksb" href="/">Home </a>
             <a class="linksb" href="/contato"> Contato </a>
             <a class="linksb" href="/quemsomos"> Quem somos</a>
             <a class="linksb" href="/users"> tabela</a>
    </div>
    
</header>
       
<main class="main">
    <h1>quem somos?</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis eos odit obcaecati animi recusandae facere harum voluptatum, dolorem ullam accusamus maxime explicabo natus repellendus! Nihil labore illum voluptatem molestias pariatur!</p>
</main>

   <div class="subtexto"><h1>5 motivos para estudar</h1>
       
        <ol>
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <hr>

    <h1>Objetivos</h1>
        
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Maiores quod, alias non aliquid, consectetur nobis hic nemo, reprehenderit itaque nulla ut magni dolores! Consectetur eligendi eius adipisci laboriosam laborum tempora?lorem<br>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis similique accusamus assumenda. Fuga ipsa voluptates aliquam praesentium, eaque ab voluptatum rem nam, sed in sequi maiores impedit optio sit! Odit.</p>
    
    </div>
    <footer class="rodapé-QS"> <h4><strong>todos os direitos reservados</strong></h4>
    </footer>
    
</body>
</html>
{% endblock %}
