{% extends "base.html" %}
{% block conteudo %}
<body background="/static/fundo2.png">
    <header class="headercontact">
        <img class="img-contact" src="/static/logo.png" alt="logo">
        <div class="linksCONTACT">
        <a class="linksc" href="/">Home</a>
        <a class="linksc" href="/contato">Contato</a>
        <a class="linksc" href="/quemsomos">Quem somos</a>
        </div>
    </header>
<main class="maincontact">
<h2>Entre em contato</h2>
<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi congue sagittis mi a aliquam. </h4>
<hr>
<form method="POST">
    email: <br>
    <input type="text" name="email"><br>
    assunto: <br>
    <input type="text" name="assunto"><br>
    descrição: <br>
    <input type="text" name="descricao"><br>
    <button type="submit">Enviar</button>
</form>
</main>
<footer class="rodapé-CONTACT">
    <h4><strong>todos os direitos reservados</strong></h4>
</footer>

    
</body>
</html>
{% endblock %}